:root {
    --primary-key: rgb(222, 219, 210);
    --secondary-key: rgb(74, 87, 89);
    --primary-colour: #DEDBD2;
    --secondary-colour: #ACB996;
    --tertiary-colour: #426353;
    --accent-colour: #00361C;
    --text-colour: black;
    --widget-width: 350px;
    --widget-height: 350px;
    --task-height: 70px;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: "Ubuntu", monospace;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-key);
    cursor: default;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--accent-colour);
    cursor: default;
}


.top {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: 20px;
}

.header h1 {
    margin-left: 5vw;
}

.login-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1%;
}

.login-text {
    color: var(--accent-colour);
}

.logout-button {
    color: var(--accent-colour);
    background-color: var(--primary-colour);
    border-color: var(--accent-colour);
    border-radius: 10px;
    font-weight: 600;
    padding: 10px;
}

.logout-button:hover {
    cursor: pointer;
}

.top img {
    max-width: 80px;
    max-height: 50px;
    margin-left: 1%;
}

.navbar {
    color: var(--secondary-key);
    text-align: center;
    width: 25vw;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-left: 6%;
}

.navbar div {
    display: flex;
    flex-direction: column;
    width: 70px;
    justify-content: center;
    align-items: center;
    gap: 1px;
}

.navbar div img {
    height: 80px;
    width: 60px;
    object-fit: contain;
}

.text-anchor {
    text-decoration: none;
    color: var(--secondary-key);
    font-weight: 500;
}

.register-section {
    display: flex;
    flex-direction: column;
    width: 30vw;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10vh;
    position: relative;
}

.register-title {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    position: relative;
    color: var(--accent-colour);
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
}

.form-container::after {
    content: "";
    display: block;
    width: 100%;
    /* Adjust the width as needed */
    height: 1px;
    /* Adjust the height as needed */
    background-color: black;
    /* Adjust the color as needed */
    border-style: dashed 1px black;
}

.input-bar {
    height: 25px;
    border-radius: 10px;
    border: solid 1px var(--accent-colour);
    text-align: center;
    background-color: var(--primary-colour);
}

.submit-button {
    border: solid 1px var(--accent-colour);
    border-radius: 10px;
    width: 40%;
    align-self: center;
    background-color: var(--accent-colour);
    color: var(--primary-colour);
    padding: 2px;
}

.submit-button::after {
    content: "";
    border-bottom: solid 3px black;
    margin-top: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-section {
    display: flex;
    flex-direction: column;
    width: 30vw;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10vh;
    position: relative;
}

.login-title {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    position: relative;
    color: var(--accent-colour);
}

.register-here,
.login-here {
    text-decoration: underline;
    color: var(--accent-colour);
    font-weight: 500;
}

.input-bar:hover {
    cursor: text;
}

.submit-button:hover,
.login-here:hover,
.register-here:hover {
    cursor: pointer;
}

.submit-button,
.login-here,
.register-here {
    transition: all 0.2s ease;
    /* Smooth transition for all properties */
}

.submit-button:hover {
    background-color: var(--secondary-colour);
    /* Change background color on hover */
    color: var(--accent-colour);
    /* Change text color on hover */
    transform: scale(1.05);
    /* Slightly increase size on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Add shadow on hover */
}

.login-here:hover,
.register-here:hover {
    color: var(--secondary-colour);
    /* Change text color on hover */
    text-decoration: none;
    /* Remove underline on hover */
    transform: scale(1.05);
    /* Slightly increase size on hover */
}

.input-bar {
    transition: all 0.5s ease;
    /* Smooth transition for all properties */
    padding: 10px;
    /* Adding some padding for better visual */
}

.input-bar:hover {
    border-color: var(--accent-colour);
    /* Change border color on hover */
    background-color: var(--secondary-colour);
    /* Change background color on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Add shadow on hover */
}

/* DASHBOARD STYLES */

.menu {
    width: 15vw;
    height: 100vh;
    background-color: var(--secondary-colour);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    transition: background-color 0.3s ease;
}

.menu div {
    display: flex;
    align-items: center;
    gap: 15px;
    text-align: center;
}

.menu div a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.menu div a {
    width: 80px;
    font-weight: 600;
    font-size: large;
    position: relative;
    /* Ensure relative positioning for pseudo-element */
    display: inline-block;
    /* Make sure it respects text wrapping */
    color: var(--accent-colour);
    /* Default text color */
    transition: color 0.5s ease;
    /* Smooth transition for color change */
    padding: 2px;
    text-align: right;
}

.menu div a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    /* Adjust based on desired underline position */
    width: 100%;
    height: 2px;
    /* Thickness of the underline */
    background-color: var(--accent-colour);
    /* Underline color */
    transform: scaleX(0);
    /* Start with no width */
    transform-origin: bottom right;
    /* Expand from bottom right corner */
    transition: transform 0.5s ease;
    /* Smooth transition for underline */
}

.menu div a:hover::after {
    transform: scaleX(1);
    /* Expand underline to full width on hover */
    transform-origin: bottom left;
    /* Expand from bottom left corner */
}

#selected-menu {
    background-color: var(--accent-colour);
    color: var(--secondary-colour);
    width: 97px;
    border-radius: 8px;
    text-align: center;
}

.menu-logo {
    width: 100px;
    height: 80px;
}

.menu-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-options img {
    width: 40px;
    height: 40px;
}

.menu-options div {
    width: 100%;
}

.dashboard {
    width: 85vw;
    height: 100vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-top: 25px;
    background-color: var(--primary-colour);
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* Two rows with equal height */
    grid-template-columns: 1fr 1fr;
    /* Two columns with equal width */
    gap: 50px;
    /* grid-template-columns: repeat(auto-fill, minmax(var(--widget-width), 1fr));
    grid-auto-rows: minmax(var(--widget-height), auto); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.widget {
    border: solid 1px var(--secondary-colour);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    /* Ensure it fills the parent container */
    background-color: var(--secondary-colour);
    align-self: center;
    justify-self: center;
    overflow: hidden;
    /* Prevent content from overflowing */
    transition: background-color 0.3s ease;
}

.task-priority {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: space-evenly;
}

.task-priority-title {
    font-size: x-large;
    font-weight: 500;
    color: var(--accent-colour);
}

.task,
.task-completed {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: var(--task-height);
    width: 80%;
    height: 60px;
    background-color: var(--primary-colour);
    border: solid 1px var(--tertiary-colour);
    border-radius: 40px;
    padding: 20px;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease;
}

.task-completed {
    text-decoration: line-through;
    background-color: #b3afa6;
}


.task:hover,
.task-completed:hover {
    background-color: var(--tertiary-colour);
    transform: scale(1.05);
    border-color: var(--primary-colour);
    color: var(--primary-colour);
    cursor: pointer;
}

.task-completed:hover {}

.task:hover p,
.task-completed:hover p {
    color: var(--primary-colour);
}

.task-name {
    font-weight: 500;
    font-size: 0.9rem;
}

.task-name-completed {
    font-weight: 500;
    font-size: 0.9rem;
    text-decoration: line-through;
}

.task-date {
    font-size: 0.9rem;
}

.task-date {}

.task-list {
    overflow-y: scroll;
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 15px;
    border: 2px solid var(--accent-colour);
    border-bottom: 1px dashed var(--accent-colour);
    border-radius: 5px;
}

.edit-button,
.edit-button-completed {
    padding: 3px;
    font-family: Ubuntu;
    color: var(--accent-colour);
    border-radius: 10px;
    border: 1px solid var(--accent-colour);
    background-color: var(--primary-colour);
}

.edit-button-completed {
    background-color: #c2beb2;
}

.edit-button:hover,
.edit-button-completed:hover {
    cursor: pointer;
}

.closest-goal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.closest-goal-title {
    font-size: x-large;
    font-weight: 500;
    color: var(--accent-colour);
    padding-bottom: 20px;
}

.closest-goal-wrapper {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: solid 2px var(--accent-colour);
    border-radius: 5px;
    gap: 50px;
    overflow-x: auto;
    padding: 15px;
}

.closest-goal-box {
    flex: 1;
    /* Allow the boxes to grow */
    min-width: 400px;
    /* Ensure a minimum width for the boxes */
    width: 400px;
    height: 95%;
    background-color: var(--primary-colour);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.closest-goal-box .task {
    width: 95%;
}

.line-100 {
    border-top: solid 3px var(--secondary-colour);
    width: 100%;
}

.closest-goal-task-box {
    width: 80%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow-y: scroll;
    padding: 10px;
    border: 3px solid var(--secondary-colour);
    border-bottom: 2px dashed var(--secondary-colour);
    border-radius: 5px;
}

.habit-checklist {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: space-evenly;
}

.habit-checklist-title {
    font-size: x-large;
    font-weight: 500;
    color: var(--accent-colour);
}

.habit-box {
    width: 100%;
    height: 70%;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid var(--accent-colour);
    border-bottom: 1px dashed var(--accent-colour);
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    overflow-y: scroll;
}

.habit-wrapper {
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.habit {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border: 1px solid var(--accent-colour);
    border-radius: 30px;
}

.habit p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.habit label {
    visibility: hidden;
}

.habit-button,
.habit-button-completed {
    padding: 10px;
    border-radius: 20px;
    border: 0px solid var(--accent-colour);
    background-color: var(--primary-colour);
    width: 42px;
    height: 42px;
}

.habit-button-completed {
    background-color: var(--primary-colour);
}

.habit-button:hover,
.habit-button-completed:hover {
    cursor: pointer;
}

.tick-image {
    width: 20px;
    height: 20px;
}

.tick-image:hover {
    cursor: pointer;
}

#id_completed {
    border: 1px solid var(--accent-colour);
    padding: 10px;
}

.habit-name,
.habit-name-completed {
    width: 200px;
}

.habit-name-completed {
    text-decoration: line-through;
}

.check-circle {
    border: solid 3px var(--primary-colour);
    border-radius: 90px;
    width: 30px;
    height: 30px;
}

.check-circle:hover {
    cursor: pointer;
}

.full {
    background-color: var(--accent-colour);
}

.calendar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px;
    height: 100%;
    gap: 20px
}

.month-year {
    font-size: x-large;
    font-weight: 500;
    padding-left: 20px;
    padding-bottom: 20px;
}

.calendar-container {
    max-height: 100%;
    overflow-y: none;
    width: 70%;
}

.calendar-container table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
    /* Ensures all cells fit within the container */
    border-collapse: collapse;
    border-radius: 5px;
}

.calendar-container td,
.calendar-container th {
    padding: 4px;
    text-align: center;
    font-family: Ubuntu;
    font-weight: 500;
    border: 1px solid var(--primary-colour);
    width: 14.28%;
    /* Adjust to ensure 7 columns fit properly */
}

.calendar-container td {
    min-height: 40px;
    border: none;
    padding: 10px;
    /* Set minimum height to avoid cutting off text */
}

.calendar-container th {
    border: none;
}

.upcoming-tasks {
    border: 1px solid var(--accent-colour);
    height: 100%;
    width: 30%;
}

.calendar-container td.today {
    border-radius: 50px;
    /* Makes it a circle */
    background-color: var(--accent-colour);
    /* Use the accent color */
    color: var(--primary-colour);
    width: 7%;
}

.calendar-container td.today:hover {
    background-color: var(--secondary-colour);
    /* Optional: change color on hover */
    color: var(--accent-colour);
    /* Optional: change text color on hover */
}


.day {
    background-color: var(--primary-colour);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    transition: background-color 0.3s ease;
    transition: border-color 0.2s ease;

}

.day:hover {
    background-color: var(--accent-colour);
    color: var(--primary-colour);
    border-color: var(--accent-colour);
    cursor: pointer;
}

.month {
    border-bottom: 10px solid var(--secondary-colour);
    border-radius: 10px;
}

/* MANAGE STYLES */

.manage-window {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.manage-menu {
    width: 20vw;
}

.manage-section {
    width: 85vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.manage-section form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 300px;
    padding: 20px;
    border: 2px dashed var(--accent-colour);
    border-radius: 30px;
}

.manage-section form h2 {
    text-decoration: underline;
    align-self: center;
    margin-bottom: 20px;
}

.manage-section form p {
    display: flex;
    justify-content: space-between;
}

.manage-section input {
    background-color: var(--primary-colour);
    border-radius: 10px;
    padding-left: 5px;
    border: 1px solid var(--accent-colour);
}

.manage-section form button {
    width: 50%;
    align-self: center;
    justify-content: center;
    background-color: var(--secondary-colour);
    border: 1px solid var(--accent-colour);
    border-radius: 10px;
    margin-top: 20px;
}

.left-widgets,
.right-widgets {
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-widgets {
    display: flex;
    flex-direction: column;
    width: 65%;
    gap: 25px;
}

.left-widgets {
    width: 35%;
}

.goal-habit {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 25px;
}