{% extends "base.html" %}

{% block content %}
<section class="register-section">
    <h2 class="register-title">Create an Account</h2>
    <form class="form-container" action="#" method="POST">
        {% csrf_token %}
        <input class="input-bar" type="text" id="username" name="username" required placeholder="Enter Account Username">

        <input class="input-bar" type="password" id="password" name="password" required placeholder="Enter New Password">
        
        <button class="submit-button" type="submit">Register</button>

        <a class="login-here" href="/login">Already have an account?</a>
    </form>
</section>
{% endblock content %}