{% extends "base.html" %}

{% load static %}

{% block title %}Manage{% endblock %}

{% block content %}
<div class="menu manage">
    <img src="{% static 'images/ORDOLOGO.png' %}" alt="Ordo Logo" class="menu-logo">
    <div class="menu-options">
        <div class="dashboard-menu">
            <img src="{% static 'images/apps.svg' %}" alt="Dashboard">
            <a href="{% url 'dashboard' %}">Dashboard</a>
        </div>
        <div class="manage">
            <img src="{% static 'images/layers.svg' %}" alt="Manage">
            <a id="selected-menu" href="{% url 'manage' %}">Manage</a>
        </div>
        <div class="settings">
            <img src="{% static 'images/settings.svg' %}" alt="Settings">
            <a href="{% url 'settings' %}">Settings</a>
        </div>
    </div>
    <div class="login-information">
        {% if user.is_authenticated %}
            <p class="login-text">You are logged in as {{ user.username }}.</p>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button class="logout-button" type="submit">Log Out</button>
            </form>
        {% else %}
            <p class="login-text">You are not logged in.</p>
            <a class="login-anchor" href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
</div>

<div class="manage-section">
    <h1>Manage Goals, Tasks, and Habits</h1>

    <form method="post">
        {% csrf_token %}
        <h2>Create Goal</h2>
        {{ goalForm.as_p }}
        <button type="submit" name="create_goal">Create Goal</button>
    </form>

    <form method="post">
        {% csrf_token %}
        <h2>Create Task</h2>
        {{ taskForm.as_p }}
        <button type="submit" name="create_task">Create Task</button>
    </form>

    <form method="post">
        {% csrf_token %}
        <h2>Create Habit</h2>
        {{ habitForm.as_p }}
        <button type="submit" name="create_habit">Create Habit</button>
    </form>
</div>
{% endblock content %}
